.bg {
    background-color: #D9821B !important;
}

.bg-noticia {
    background-color: #ffffff !important;
}
.bg-area-noticias {
    background-color: #F2F2F2 !important;
}
.custom-button {
    background-color: #D9821B; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Estilo de sombra personalizado */
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    /* Otros estilos de botón personalizados */
  }

/* Footer *******************************************************************/
.footer {
    background-color: #8C0335;
    position: relative;
    
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

p{
    font-family: 'Montserrat', sans-serif;
}
h2, h1{
    color: #000000;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    text-align:left;
    padding-left: 60px;
}

.texto h2 {
    font-size: 5vw;
  }

.texto-two h1 {
    font-size: 5vw;
}


/*velo*************************************************************************************/
.container-with-background {
    background-image: url('../../../assets/fondo_sistema.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    width: 100%;
  }
  
  .container-with-background:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #130f40;
    opacity: .7;
    z-index: -1;
    background-size: cover;
  }

  .card{
    transition: all 400ms ease-out;
  }
  
  /*Tarjetas*************************************************************/
  .card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
    }

/*Contenedores*************************************************************/
.container{
    width: 100%;
    position: relative;
    display: block;
}
.container-two{
    width: 100%;
    position: relative;
    background-color: #F2F2F2;
    top: 200px;
    padding-bottom: 100px;
}

.container-xxl{
    width: 100%;
    background-color: #F2F2F2;
    
}
