
<div class="d-flex justify-content-center">
  <div class="container">
    <h1 class="text-center">Editar Usuario</h1>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" [(ngModel)]="data.email" name="email" disabled>
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="data.name" name="name" disabled>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="lastName" [(ngModel)]="data.lastName" name="lastName" disabled>
      </div>
      <div class="mb-3">
        <label for="mlastName" class="form-label">Segundo Apellido</label>
        <input type="text" class="form-control" id="mlastName" [(ngModel)]="data.mlastName" name="mlastName" disabled>
      </div>
      <div class="mb-3">
        <label for="rol" class="form-label">Rol</label>
        <select class="form-control" id="rol" [(ngModel)]="data.rol" name="rol">
          <option value="estudiante">Estudiante</option>
          <option value="administrador">Administrador</option>
        </select>
      </div>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button class="btn btn-secondary" mat-dialog-close>Cerrar</button>
        <button class="btn btn-primary" (click)="updateUser()">Guardar</button>
      </div>
    </form>
  </div>
</div>

