
<body class="bg-area-noticias">
    
    <!-- topnab -->
    <app-navbar></app-navbar>
    <!-- topnab// -->

    

    <!-- Imagen y texto de sistemas -->

    <div class="container-xxl service py-5 mb-5 container-with-background p-0 mt-6">
        
        <div class="row align-items-center justify-content-center">
            <div class="col-md-3 text-center">
                <img src="../../../assets/carreras/empresarial.png" alt="Título de la página" class="img-fluid" width="200">
            </div>
            <div class="col-md-9 text-center text-md texto">
                <h2 class="texto-borde">INGENIERÍA EN GESTIÓN EMPRESARIAL</h2>
            </div>
        </div>
    </div>
    <!-- fin -->
    
    
    <!--container-->
    <div class="container-xxl service mb-5">
        <div class="container container-two" >
            

            <!-- descripción de la carrera -->
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s"> 
                <h1 class="mb-3 texto">¿Qué es un ingeniero en Gestión Empresarial?</h1>
                <hr>
                <br>
                <p>Profesional con actitud y capacidad para contribuir a la gestión de empresas e innovación de procesos orientado a la estrategia, así como a la innovación empresarial, con un amplio conocimiento administrativo, financiero y mercadológico; especializado en la generación de nuevos negocios contribuyendo así con el desarrollo, económico y empresarial; actúa con integridad, ética y responsabilidad social.</p>
                <br>
                <br>
                <br>
            </div>

            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                
                <h1 class="mb-3">Noticias</h1>
                <hr>
                <br>
            </div>

            <!-- Tarjetas de Noticias 1 -->
              <div *ngIf="noticias.length > 0; else noNoticias">   <!--*ngIf="noticiasConImagenes.length > 0; else noNoticias" -->
                <div class="row row-cols-1 row-cols-md-2 g-4">
                     <div class="col " *ngFor="let item of noticias">   <!--*ngFor="let item of noticiasConImagenes" -->
                         <ng-container *ngIf="item.categoria === 'empresarial'"> <!--*ngIf="item.noticiaConImagen.categoria === 'sistemas'" -->
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-6">
                                    <a href="#" (click)="verNoticia(item.id)" data-bs-toggle="modal" data-bs-target="#imagenModal">
                                        <img [src]="item.imagenURL" class="img-fluid rounded-start" alt="...">  
                                    </a>  
                                </div>
                                
                                <div class="col-md-6">
                                    <div class="card-body">
                                        <h5 class="card-title text-uppercase"> {{item.titulo}} </h5>
                                        <p class="card-text" id="textoCorto">
                                            {{ item.descripcion | slice:0:50 }}...
                                            <a href="#" (click)="verNoticia(item.id)" id="textoLargo" data-bs-toggle="modal" data-bs-target="#leerMas">Leer más...</a>
                                        </p>
                                       
                                    </div>
                                </div>
                            </div>
                            <div class="row g-0">
                                <div class="row align-items-center justify-content-center mb-3">
                                    <div class="col-md-12 text-center text-md-start">
                                        <i class="bi bi-heart-fill display-6 me-3"></i>
                                        <a href="#" id="comentario" data-bs-toggle="modal" data-bs-target="#comentarioModal" >
                                            <i class="bi bi-chat-dots display-6"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>    
                    </div>
                </div>
                </div>
                 <ng-template #noNoticias>
                    <p>{{ mensaje }}</p>
                  </ng-template> 
            <!-- FIN: Tarjetas de Noticias 1 -->

            <!-- Modal para mostrar la imagen en grande -->
            <div class="modal fade" id="imagenModal" tabindex="-1" aria-labelledby="imagenModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img [src]="verN.imagenURL" class="img-fluid" alt="Imagen en grande">
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIN: Modal para mostrar la imagen en grande -->

             <!-- Modal de Leer mas... -->
             <div class="modal fade" id="leerMas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">{{verN.titulo}}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="col-md-12 ms-auto justify-content-md-start mt-auto">
                            <p>Autor</p>
                        </div>
                        <img [src]="verN.imagenURL" class="img-fluid" alt="Imagen en grande">
                        <div class="col-md-12 ms-auto justify-content-md-start mt-auto pt-2">
                            <p>{{verN.descripcion}}</p>
                        </div>               
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
            <!-- FIN: Modal de Leer mas.. -->

            
            
            <!-- Modal Para Comentarios -->
            <div class="modal fade" id="comentarioModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-2" aria-labelledby="comentarioModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Caja de Comentarios</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                  <div class="col-md-2 justify-content-start">Icono</div>
                                  <div class="col-md-4 justify-content-md-start">Nombre</div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12 ms-auto">Comentario</div>
                                </div>
                                <div class="row">
                                  <div class="col-md-12 ms-auto">Fecha</div>
                                </div>
                              </div>
                        </div>
                        <div class="modal-footer">
                            <div class="container-fluid">
                                <div class="row">
                                  <div class="col-md-12 ms-auto">
                                    <form>
                                        <div class="mb-3">
                                            <label for="message-text" class="col-form-label">Responder:</label>
                                            <textarea class="form-control" id="message-text"></textarea>
                                        </div>
                                    </form>
                                  </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 ms-auto">
                                        <div class="gap-2 d-md-flex justify-content-md-end mt-auto">
                                            <button type="button" class="btn btn-secondary me-1" data-bs-dismiss="modal">Cerrar</button>
                                        <button type="button" class="btn btn-primary">Enviar</button>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            <!-- FIN: Modal Para Comentarios -->
        </div>
    </div>
    
    
    <!-- Footer Start -->
    <app-footer></app-footer>
    <!-- Footer End -->
    
</body>


