 <!-- Footer Start -->
 <div class="container-fluid  text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7 col-md-6">
                <h4 class="text-light mb-4">Dirección</h4>
                <p class="mb-2">
                    <i class="bi bi-geo-alt-fill"></i>&nbsp;&nbsp;Av. Ing. Carlos Rojas Gutierrez 2120, Fracc. Valle <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De La Herradura, 61100 Cd Hidalgo, Mich.
                  </p> 
                  
                <p class="mb-2"><i class="bi bi-telephone-fill"></i>&nbsp;&nbsp;+52 786 154 9000</p>
                <p class="mb-2"><i class="bi bi-envelope-fill"></i>&nbsp;&nbsp;itsch@hotmail.com</p>
            </div>
           
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Siguenos en...</h4>
                <div class="d-flex pt-2">

                    <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/TecNM.Campus.Ciudad.Hidalgo/?locale=es_LA" target="_blank">
                      <i class="fab fa-facebook-f"></i> facebook
                    </a>
                    <a class="btn btn-outline-light btn-social" href="https://www.youtube.com/@tecnmcampusciudadhidalgo4468" target="_blank">
                      <i class="fab fa-youtube"></i> YouTube
                    </a>

                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Footer End -->