@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* Pie de página */
.footer {
    background-color: #0D0D0D; /* Color de fondo del pie de página */
    color: #F2F2F2; /* Color del texto del pie de página */
}

/* Iconos en el pie de página */
.footer i {
    color: #D9731A; /* Color de los iconos */
}

/* Enlaces en el pie de página */
.footer a {
    color: #D9731A; /* Color de los enlaces */
}

.footer a:hover {
    color: #A6033F; /* Cambio de color al pasar el ratón */
}