
/* Navbar */
.navbar {
    background-color: #D98218; /* Color de fondo del navbar */
    padding: 10px;
}

/* Botones en el navbar */
.custom-button {
    background-color: #A6033F; /* Color de fondo del botón */
    color: #FFFFFF; /* Color del texto del botón */
    border: 1px solid #D98218; /* Borde del botón */
}

.custom-button:hover {
    background-color: #D9731A; /* Cambio de color al pasar el ratón */
    border: 1px solid #D9731A;
}

/* Ajuste para cambiar el color del texto a blanco al pasar el mouse sobre el botón */
.custom-button:hover .nav-item.nav-link {
    color: #FFFFFF;
}

/* Navbar Brand */
.navbar-brand img {
    width: 150px;
}

/* Botón personalizado */
.custom-button {
    background-color: #D98218;
    color: #FFFFFF;
    border: 1px solid #D98218;
    padding: 5px 10px;
    text-decoration: none;
}

.custom-button:hover {
    background-color: #401801;
    color: #FFFFFF;
}

/* Dropdown */
.btn-group .btn-custom-button {
    background-color: #D98218;
    color: #FFFFFF;
    border: 1px solid #D98218;
    margin-right: 30px;
}

.btn-group .btn-custom-button:hover {
    background-color: #FFFFFF;
    color: #FFFFFF;
    border: 1px solid #D98218;
}

.btn-group .dropdown-menu {
    background-color: #D98218;
    border: 1px solid #D98218;
}

.dropdown-item {
    color: #401801;
}

.dropdown-item:hover {
    background-color: #401801;
    color: #FFFFFF;
}