<body class="bg-area-noticias">
    

    <div class="container-fluid bg-light p-0 sticky-top" >
        <nav class="navbar navbar-expand-lg bg navbar-light shadow sticky-top p-0">
            <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5" >
                <img width="150px" src="../../assets/Logo_JaguarNews.png" alt="logito">
                
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
               
                <span class="navbar-toggler-icon"></span>
                
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse" style="padding: 10px;">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <button type="button" class="btn custom-button" style="margin-right: 30px;" (click)="navigateToHome()">
                        <a >GENERAL</a>
                    </button>
    
                    <div ngbDropdown class="btn-group">
                        <button id="dropdownMenuButton" ngbDropdownToggle type="button" class="btn btn custom-button dropdown-toggle w-auto" aria-expanded="false" style="margin-right: 30px;">
                          CARRERAS
                        </button>
                        <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                          <li><a class="dropdown-item" href="#">TIC´s</a></li>
                          <li><a class="dropdown-item" href="#">Nanotecnología</a></li>
                          <li><a class="dropdown-item" href="#">Mecatrónica</a></li>
                          <li><a class="dropdown-item" href="#">Gestión empresarial</a></li>
                          <li><a class="dropdown-item" href="#">Bioquímica</a></li>
                          <li><a class="dropdown-item" href="#">Sistemas computacionales</a></li>
                          <li><a class="dropdown-item" href="#">Industrial</a></li>
                        </ul>
                      </div>
                <button type="button" class="btn btn custom-button" style="margin-right: 30px;" (click)="navigateToEditar()">
                    <a>Editar Noticia </a>
                </button>
                <button type="button" class="btn btn custom-button" style="margin-right: 30px; " (click)="navigateToUsuario()">
                    <a >Crear Usuario</a>
                </button> 
                <button  type="button" class="btn btn custom-button"  style="margin-left: 10px;">
                    <a href="index.html" class="nav-item nav-link" >
                        <i class="bi bi-person-circle"></i>
                        Cerrar Sesión
                    </a>
                </button>
                </div>
                
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card mt-3">
                    <div class="card-header" >Insertar Noticia</div>
                    <div class="card-body">
                        
                        <input type="text" class="form-control mt-3" placeholder="Inserta el titulo" [(ngModel)]="newP.titulo">
                        
                        <select class="form-select form-control mt-3" aria-placeholder="selecciona la carrera" [(ngModel)]="newP.categoria" required>
                            
                            <option value="general">General</option>
                            <option value="tic´s">Tic´s</option>
                            <option value="nanotecnologia">Nanotecnología</option>
                            <option value="mecatronica">Mecatrónica</option>
                            <option value="sistemas">Sistemas</option>
                        </select>
                        <textarea class="form-control mt-1" rows="5" [(ngModel)]="newP.descripcion" placeholder="Inserta la descripción"></textarea>
                        
                        <input type="file" class="form-control mt-3" accept=".jpg, .png, .jpeg" (change)="onImageSelected($event)" placeholder="Selecciona la imagen">
                        <button class="btn btn-primary float-end mt-3" (click)="crearNoticia()">
                            <i class="bi bi-cloud-upload"></i>
                        </button>
                    </div>
                </div>                   
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table table-success table-striped">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Autor</th>
                            <th>Descripcion</th>
                            
                            <th>Titulo</th>
                            <th>ID</th>
                            <th>categoria</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of noticias">
                            <td>{{p.no}}</td>
                            <td>{{p.autor}}</td>
                            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis;">{{p.descripcion}}</td>
                            
                            <td>{{p.titulo}}</td>
                            <td>{{p.id}}</td>
                            <td>{{p.categoria}}</td>
                            <td class="text-end">

                              <div class="modal fade" id="leerMas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable">
                                  <div class="modal-content custom-modal">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">{{verN.titulo}}</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <div class="col-md-12 justify-content-md-start mt-auto">
                                        <p>Autor: {{verN.autor}}</p>
                                      </div>
                                      <img [src]="verN.imagenURL" class="img-fluid" alt="Imagen en grande">
                                      <div class="col-md-12 justify-content-md-start mt-auto pt-2">
                                        <p class="text-break text-justify">{{verN.descripcion}}</p>
                                      </div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                                <button class="btn btn-outline-secondary" (click)="verNoticia(p.id)" data-bs-toggle="modal" data-bs-target="#leerMas">
                                   <i class="bi bi-eye-fill"></i>
                                </button>
                                &nbsp;
                                <button class="btn btn-outline-success" (click)="editarNoticia(p)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <i class="bi bi-pencil-fill"></i></button>
                                &nbsp;
                                <button class="btn btn-outline-danger"(click)="borrarNoticia(p.id)"><i class="bi bi-trash-fill"></i></button>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Editar Noticia</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Formulario de Modificación -->
        <form (submit)="modificarNoticia()">
          <div class="mb-3">
            <label for="imagen" class="form-label">Imagen</label>
            <input type="file" class="form-control" id="imagen" (change)="onImagenSeleccionada($event)" accept="image/*">
          </div>

          <div class="mb-3">
            <img *ngIf="modP.imagenURL" [src]="modP.imagenURL" alt="Imagen actual" class="img-fluid">
          </div>

          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" [(ngModel)]="modP.titulo" name="titulo" required>
            <div class="invalid-feedback" *ngIf="!modP.titulo">El título es obligatorio.</div>
          </div>

          <div class="mb-3">
            <label for="descripcion" class="form-label">Descripción</label>
            <textarea class="form-control" id="descripcion" [(ngModel)]="modP.descripcion" name="descripcion" required></textarea>
            <div class="invalid-feedback" *ngIf="!modP.descripcion">La descripción es obligatoria.</div>
          </div>

          <!-- ... Otras propiedades que puedas tener en tu objeto modP ... -->

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cerrarModal()">Cancelar</button>
            <button type="button" class="btn btn-primary" (click)="modificarNoticia()">Guardar</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</div>

      <!-- Modal de Leer mas... 
      <div class="modal fade" id="leerMas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Noticia title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-md-12 ms-auto justify-content-md-start mt-auto">
                    <p>Autor</p>
                </div>
                <img src="../../../assets/noticias_prueba.jpg" class="img-fluid" alt="Imagen en grande">
                <div class="col-md-12 ms-auto justify-content-md-start mt-auto pt-2">
                    <p>Buenos días #FuturosIngenierosEnSistemas 😎 Un día como hoy pero de 1815 hace George Boole, considerado como uno de los fundadores del campo de las Ciencias de la Computación.</p>
                </div>               
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
     FIN: Modal de Leer mas.. -->

</body>
