@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Navbar */
.navbar {
    background-color: #D98218;
    padding: 10px;
}

/* Navbar Brand */
.navbar-brand img {
    width: 150px;
}

/* Botón personalizado */
.custom-button {
    background-color: #FFFFFF;
    color: #401801;
    border: 1px solid #401801;
    padding: 5px 10px;
    text-decoration: none;
}

.custom-button:hover {
    background-color: #D98218;
    color: #FFFFFF;
}

/* Dropdown */
.btn-group .btn-custom-button {
    background-color: #FFFFFF;
    color: #401801;
    border: 1px solid #401801;
    margin-right: 30px;
}

.btn-group .btn-custom-button:hover {
    background-color: #D98218;
    color: #FFFFFF;
}

.btn-group .dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid #401801;
}

.dropdown-item {
    color: #401801;
}

.dropdown-item:hover {
    background-color: #D98218;
    color: #FFFFFF;
}
.container-two{
    width: 100%;
    position: relative;
    background-color: #F2F2F2;
}

/* Botones adicionales */
.btn-editar {
    background-color: #401801;
    color: #FFFFFF;
    border: 1px solid #401801;
    margin-right: 30px;
}

.btn-usuario {
    background-color: #401801;
    color: #FFFFFF;
    border: 1px solid #401801;
    margin-right: 30px;
}
/*Contenedores*************************************************************/
.container{
    width: 100%;
    position: relative;
    display: block;
}
.container-two{
    width: 100%;
    position: relative;
    background-color: #F2F2F2;
}

.container-xxl{
    width: 100%;
    background-color: #F2F2F2;
    
}
.btn-usuario:hover,
.btn-editar:hover {
    background-color: #D98218;
    color: #FFFFFF;
}
  /* Footer */
  .footer {
    background-color: #D98218;
    color: #FFFFFF;
  }
  
  .footer i {
    color: #A6033F;
  }
  
  .footer a {
    color: #A6033F;
  }
  
  .footer a:hover {
    color: #D9731A;
  }