<table class="table">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td><img [src]="user.photoURL" alt="User Photo"></td>
      <td>{{ user.name }} {{ user.lastName }} {{ user.mlastName }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.rol }}</td>
      <td>
        <button class="btn btn-primary" (click)="updateUser(user)" >Actualizar</button>
        <button class="btn btn-danger" (click)="deleteUser(user)" >Eliminar</button> 
      </td>
    </tr>
    <tr>
      <td colspan="5">
        <button type="button" class="btn btn-primary" (click)="openModal()">
          Crear nuevo usuario
         </button>
                 
      </td>
    </tr>
  </tbody>
</table>

