
<!-- topnab -->
<div class="container-fluid bg-light p-0 sticky-top" >
    <nav class="navbar navbar-expand-lg bg navbar-light shadow sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5" >
            <img width="150px" src="../../assets/Logo_JaguarNews.png" alt="logito">
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse d-flex" id="navbarCollapse" style="margin:10px;">
            <div class="ms-auto"> <!-- Utiliza la clase ms-auto para alinear a la derecha -->
                <button type="button" class="btn btn-primary">
                    <a href="" class="nav-item nav-link" >
                        <i class="bi bi-person-circle"></i>
                        LOGIN
                    </a>
                </button>
            </div>
        </div>
    </nav>
    
</div>
<!-- topnab// -->

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0">
    <div class="container-fluid page-header-inner py-5">  
    </div>
</div>
<!-- Page Header End -->



<!-- Registro Start -->
<div class="container-xxl py-2">
  <div class="container">
                  <!-- ************  CONTENIDO  *************** -->
                  <div class="container">
                    <div class="row justify-content-center">
                      <div class="card col-md-6 mx-auto">
                        <div class="card-body">
                          <div class="container text-center">
                            <h1>COMPLETA TU REGISTRO</h1>
                          </div>
                          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                          <div class="mb-3">
                            <label for="email" class="form-label">Correo:</label>
                            <input type="email" id="email" class="form-control" formControlName="email" required />
                          </div>
                  
                          <div class="mb-3">
                            <label for="password" class="form-label">Contraseña:</label>
                            <input type="password" id="password" class="form-control" formControlName="password" required />
                          </div>
                  
                          <div class="mb-3">
                            <label for="name" class="form-label">Nombre:</label>
                            <input type="text" id="name" class="form-control" formControlName="name" required />
                          </div>
                  
                          <div class="mb-3">
                            <label for="lastName" class="form-label">Apellido Paterno:</label>
                            <input type="text" id="lastName" class="form-control" formControlName="lastName" required />
                          </div>
                  
                          <div class="mb-3">
                            <label for="mLastName" class="form-label">Apellido Materno:</label>
                            <input type="text" id="mLastName" class="form-control" formControlName="mLastName" required />
                          </div>
                  
                          <button type="submit" class="btn btn-primary">Registrarse</button>
                        </form>
                      </div>
                    </div>
                  </div>
</div>
<!-- Registro End -->
                                       

<!-- Footer Start -->
<div class="container-fluid  text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-7 col-md-6">
                <h4 class="text-light mb-4">Dirección</h4>
                <p class="mb-2">
                    <i class="bi bi-geo-alt-fill"></i>&nbsp;&nbsp;Av. Ing. Carlos Rojas Gutierrez 2120, Fracc. Valle <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;De La Herradura, 61100 Cd Hidalgo, Mich.
                  </p>
                  
                <p class="mb-2"><i class="bi bi-telephone-fill"></i>&nbsp;&nbsp;+52 786 154 9000</p>
                <p class="mb-2"><i class="bi bi-envelope-fill"></i>&nbsp;&nbsp;itsch@hotmail.com</p>
            </div>
           
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Siguenos en...</h4>
                <div class="d-flex pt-2">
                    <a class="mb-2" href=""><i class="bi bi-facebook"></i>&nbsp;&nbsp;&nbsp;Instituto Tecnológico Superior de Ciudad Hidalgo</a>
                    <a class="mb-2" href=""><i class="fab fa-youtube"></i></a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->

