@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/********** Template CSS **********/
:root {
    --primary: #D98218;
    --secondary: #D9731A;
    --light: #F2F2F2;
    --dark: #A6033F;
  }
  
  .fw-medium {
    font-weight: 600 !important;
  }
  
  .back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
  }


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}
.navbar-light {
    background-color: #D98218;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #D98218;
    font-size: 25px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link.active {
    color: black;
    background-color: #D98218;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #D98218;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: #0D0D0D;
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

/*** Body ***/
body {
    background-color: #F2F2F2;
    color: #000000;
}

h1{
    color: #000000;
    font-family: 'Bebas Neue', sans-serif;
}


h3{
    color: #000000;
}

p{
    font-family: 'Montserrat', sans-serif;
}
i, label{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #F2F2F2;
}
label{
    color: #0D0D0D;
}

small{
    color: #000000;
}
.p{
    font-family: 'Montserrat', sans-serif;
  }

/*** Button ***/
.btn {
    font-weight: 500;
    text-transform: uppercase;
    transition: .5s;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

.btn.btn-primary,
.btn.btn-secondary {
    background-color: #D9731A; /* Color de fondo */
    color: #0D0D0D; /* Color del texto */
    border: none; /* Borde del botón */
    padding: 8px; /* Aumentar el espaciado interno para duplicar el tamaño del botón */
    border-radius: 16px; /* Aumentar el tamaño de los bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el ratón */
    text-align: center; /* Alineación del texto */
    display:inline-flexbox; /* Mostrar en línea */
    font-size: 20px; /* Aumentar el tamaño de la fuente */
    margin: 2px; /* Márgenes externos */
}

.btn.btn-secondary{
    padding: 8px;
    font-size: 20px;
}

.btn.btn-primary:hover,
.btn.btn-secondary:hover {
    background-color: #A6033F; /* Cambiar el color de fondo al pasar el ratón */
    color: #FFFFFF; /* Cambiar el color del texto al pasar el ratón */
}

.btn.btn-primary:active,
.btn.btn-secondary:active {
    background-color: #D98218; /* Cambiar el color de fondo al hacer clic */
}


/* Footer */
.footer {
    background-color: #8C0335;
    
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}



  .page-header {
    background-image: url('/assets/fondo.jpg'); /* Ruta a tu imagen en la carpeta de activos */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    height: 50vh; /* Ajusta la altura según tus necesidades */
  }  

  